<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Campo para el nombre de usuario -->
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>

  <!-- Campo para la contraseña -->
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <!-- Confirmación de la contraseña -->
  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
  </ion-item>

  <!-- Mostrar mensajes de error -->
  <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>

  <!-- Botón para registrar -->
  <ion-button expand="block" (click)="register()">Register</ion-button>
</ion-content>



<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrarme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form id="registerForm">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" id="username" name="username" required></ion-input>
    </ion-item>
    <div id="usernameError" class="error-message"></div>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" id="email" name="email" required></ion-input>
    </ion-item>
    <div id="emailError" class="error-message"></div>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" id="password" name="password" required></ion-input>
    </ion-item>
    <div id="passwordError" class="error-message"></div>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" id="confirmPassword" name="confirmPassword" required></ion-input>
    </ion-item>
    <div id="confirmPasswordError" class="error-message"></div>

    <ion-button expand="block" type="submit">Registrarse</ion-button>
  </form>
  <ion-button expand="block" color="light" (click)="goToLogin()">
    Ir a Inicio de Sesión
  </ion-button>
</ion-content> -->