<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Categoría</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="secondary">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre Categoría</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-input [(ngModel)]="descripcion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button slot="start" (click)="openEditPhotoModal()" (click)="showLoading()">Seleccionar imagen</ion-button>
  </ion-item>
  <div *ngIf="imagen">
    <ion-img [src]="imagen"></ion-img>
  </div>
  <ion-button expand="full" (click)="addCategory()">Añadir</ion-button>
</ion-content>
