<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre de usuario</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Correo Electrónico</ion-label>
    <ion-input type="email" [(ngModel)]="mail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>¿Administrador?</ion-label>
    <ion-toggle [(ngModel)]="isAdmin"></ion-toggle>
  </ion-item>
  <ion-button (click)="addUser()">Agregar</ion-button>
</ion-content>

