<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Campo para el nombre de usuario -->
  <ion-item>
    <ion-label position="floating">Nombre de Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>

  <!-- Campo para la contraseña -->
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <!-- Mensaje de error si las credenciales no son válidas -->
  <ion-text color="danger" *ngIf="errorMessage">Credenciales inválidas</ion-text>

  <!-- Botón para iniciar sesión -->
  <ion-button expand="block" (click)="login()">Iniciar Sesión</ion-button>

  <!-- Link opcional para navegar a la página de registro -->
  <ion-item lines="none">
    <ion-label>¿No tienes una cuenta?</ion-label>
    <ion-button fill="clear" routerLink="/register">¡Registrate!</ion-button>
  </ion-item>
  <ion-item lines="none">
    <ion-label>¿Olvidaste tu contraseña?</ion-label>
    <ion-button fill="clear" routerLink="/reset-password">¡Recuperala!</ion-button>
  </ion-item>
</ion-content>