<ion-content class="ion-padding centered-page">
  <!-- Campo para el nombre de usuario -->

  <ion-card class="animated-border-card centered-content">
    <img src="../assets/img/Logo/logonitsuga.png" alt="Logo" class="logo-img">
    <ion-card-header>
      <ion-card-title class="ion-text-center"> Accede a tu cuenta</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="status">
        <p style="color:black">Estado de conexión: </p>
        <!--{{ status ? 'En línea' : 'Fuera de línea'}}-->
        <ion-text *ngIf="status" color="success">En línea</ion-text>
        <ion-text *ngIf="status === false" color="danger">Fuera de línea</ion-text>
      </div>
      <form (submit)="login()">
        <ion-item>
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="errorMessage">Credenciales inválidas</ion-text>
        <ion-button expand="block" (click)="login()" (click)="showLoading()">Iniciar Sesión</ion-button>
        <ion-button expand="block" color="light" routerLink="/register" (click)="showLoading()">¡Registrate
          aquí!</ion-button>
        <ion-item lines="none">
          <ion-button expand="full" fill="clear" color="dark" routerLink="/reset-password"
            (click)="showLoading()">¿Olvidaste tu
            contraseña?</ion-button>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
<footer class="transparent-footer">
  <div class="pikachu-container">
    <img src="../assets/gif/pikachucorre.gif" alt="pikachu" class="pikachu">
  </div>
</footer>