<ion-header>
  <ion-toolbar>
    <ion-title>Mis Pedidos</ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-button (click)="volverCliente()">
        <ion-icon slot="start" name="arrow-back-outline" color="secondary"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadPedidos()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!isLoading && pedidos.length > 0">
    <ion-item *ngFor="let pedido of pedidos">
      <ion-label>
        <h2>Pedido #{{ pedido.id }}</h2>
        <p>Fecha: {{ pedido.fecha | date: 'short' }}</p>
        <p>Total: ${{ pedido.total | number: '1.2-2' }}</p>
        <p>Estado: {{ getEstadoTexto(pedido.estado) }}</p>
      </ion-label>
      <ion-button slot="end" (click)="viewDetails(pedido.id)">Ver Detalles</ion-button>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="isLoading" slot="center"></ion-spinner>
  <ion-text *ngIf="!isLoading && pedidos.length === 0" color="medium">
    <p class="ion-text-center">No tienes pedidos aún.</p>
  </ion-text>
</ion-content>
