<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/admin-profile']" (click)="showLoading()">
        <ion-icon slot="icon-only" name="person-circle-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Administración</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title size="small">Bienvenido, {{ nombreUsuario }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" (click)="showLoading()">
        <ion-icon slot="start" name="log-out-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="full-screen">
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="12" class="button-col">
      <ion-button [routerLink]="['admin-cat']" expand="block" >Gestión de Categorías</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="12" class="button-col">
      <ion-button [routerLink]="['admin-prod']" expand="block">Gestión de Productos</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="12" class="button-col">
      <ion-button [routerLink]="['admin-users']" expand="block">Gestión de Usuarios</ion-button>
    </ion-col>
  </ion-row>
</ion-content>