<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()" color="secondary">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <ion-avatar class="profile-avatar">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-avatar>
    <h2>{{ username }}</h2>
    <p>Contraseña: ******</p>
  </div>

  <ion-button expand="full" (click)="openEditProfileModal()">Editar Perfil</ion-button>
</ion-content>
