<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex;">
      <img src="../assets/img/Logo/logonitsuga.png" alt="Logo" style="height: 50px; margin-right: 10px; margin-left: 5px;" [routerLink]="['/home']"
        (click)="showLoading()">
      <ion-title>Productos</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let producto of productos">
    <ion-card-header>
      <ion-card-title>{{ producto.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ producto.descripcion }}</p>
      <p>Precio: {{ producto.precio | currency }}</p>
      <ion-img [src]="producto.imagenCapturada"></ion-img>  <!-- Mostrar la imagen desde la base de datos -->
      
    </ion-card-content>
  </ion-card>
</ion-content>
