<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex;">
      <img src="../assets/img/Logo/logonitsuga.png" alt="Logo" style="height: 50px; margin-right: 10px; margin-left: 5px;" [routerLink]="['/home']"
        (click)="showLoading()">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline" color="light"></ion-icon>
      </ion-button>
      <ion-title>Productos</ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/carrito']">
          <ion-icon name="cart-outline" color="light"></ion-icon>
        </ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid-container">
    <ion-card class="grid-item" *ngFor="let producto of productos">
      <ion-img [src]="producto.imagen" alt="Imagen del producto" class="producto-img"></ion-img>
      <ion-card-header>
        <ion-title>{{ producto.nombre }}</ion-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ producto.descripcion }}</p>
        <p><strong>{{ producto.precio | currency }}</strong></p>
      </ion-card-content>
      <ion-button expand="full" (click)="agregarAlCarrito(producto)" style="margin: 0 auto; width: 80%;">Agregar al carrito</ion-button>
    </ion-card>
  </div>
</ion-content>
