.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 15px;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
  }
  
  ion-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  
  ion-card-header {
    margin-top: 10px;
  }
  
  .producto-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  ion-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  ion-card-content p {
    margin: 5px 0;
    font-size: 1rem;
  }
  
  ion-card-content strong {
    color: #3880ff;
    font-size: 1.1rem;
  }
  