<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="secondary">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre Producto</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-input [(ngModel)]="descripcion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Precio</ion-label>
    <ion-input [(ngModel)]="precio" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Categoría</ion-label>
    <ion-select [(ngModel)]="categoriaId">
      <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre
        }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-button slot="start" (click)="selectImage()" (click)="showLoading()">Seleccionar imagen</ion-button>
  </ion-item>
  <div *ngIf="selectedImage">
    <ion-img [src]="selectedImage"></ion-img>
  </div>

  <ion-button expand="full" (click)="addProduct()" (click)="showLoading()">Añadir</ion-button>
</ion-content>