<ion-header>
  <ion-toolbar>
    <ion-title>Editar Categoría</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" color="secondary">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="nuevoNombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-input [(ngModel)]="nuevaDescripcion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Imagen</ion-label>
    <ion-input [(ngModel)]="nuevaImagen"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="guardarCambios()">Guardar Cambios</ion-button>
</ion-content>
