<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex;">
      <img src="../assets/img/Logo/logonitsuga.png" alt="Logo" style="height: 50px; margin-right: 10px; margin-left: 5px;" [routerLink]="['/homes']"
        (click)="showLoading()">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline" color="light"></ion-icon>
      </ion-button>
      <ion-title>Categorías</ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/carrito']">
          <ion-icon name="cart-outline" color="light" style="background-color: #8e44ad; border-radius: 50%;"></ion-icon>
        </ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <div class="grid-container">
    <ion-card class="grid-item" *ngFor="let categoria of categorias">
      <ion-img [src]="categoria.imagen" alt="Imagen de la categoría" class="categoria-img"></ion-img>
      <ion-card-header>
        <ion-button expand="full" fill="solid" (click)="verProductos(categoria.id)" style="margin: 0 auto; width: 80%;">
          {{ categoria.nombre }}
        </ion-button>        
      </ion-card-header>
      <ion-card-content>
        <p>{{ categoria.descripcion }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


