<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex;">
      <img src="../assets/img/Logo/logonitsuga.png" alt="Logo"
        style="height: 50px; margin-right: 10px; margin-left: 5px;" [routerLink]="['/home']" (click)="showLoading()">
      <ion-title>Bienvenido, {{ nombreUsuario }}</ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/carrito']">
          <ion-icon name="cart-outline" color="light"></ion-icon>
        </ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Valores de hoy</ion-title>
    <ion-buttons slot="end">
      <div class="indicators-toolbar">
        <ion-label *ngIf="indicators" class="labelMenu">Dólar: ${{ indicators.dolar.valor }} CLP</ion-label>
        <ion-label>|</ion-label>
        <ion-label *ngIf="indicators" class="labelMenu">Euro: ${{ indicators.euro.valor }}CLP</ion-label>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-title style="font-size:30px; align-items: center; color: red; margin-top: 8px;">HOT SALES</ion-title>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2" *ngFor="let producto of productos">
        <ion-card>
          <img [src]="producto.imagen" alt="{{ producto.nombre }}" class="card-image" />
          <ion-card-header>
            <ion-card-title>{{ producto.nombre }}</ion-card-title>
            <ion-card-subtitle>${{ producto.precio }}</ion-card-subtitle>
          </ion-card-header>
          <ion-item>
            <ion-icon slot="start" name="cart-outline"></ion-icon>
            <ion-button fill="clear" (click)="agregarAlCarrito(producto)">Agregar al carrito</ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>