@use '@angular/material' as mat;
@include mat.core();

.button-container {
    display: flex;
  justify-content: center;
  width: 100%; 
}

.button-container a {
    width: 100%;
  }

  ion-card {
    color: white;
    opacity: 0.5;
    background: blue;
    margin: 10px;
  
    --background: red;
  }
  
  @media (prefers-color-scheme: dark) {
    ion-card {
      --background: green;
    }
  }

  