:host {
  ion-toolbar {
    background-color: #8e44ad; // Fondo morado oscuro en el header.
    color: #fff;
  }
}

ion-col {
    text-align: center;
    border-radius: 20px;
}

.card-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
}

ion-card-title{
    font-size: 13px;
}

ion-card-subtitle{
    font-size: 20px;
    color: rgb(153, 46, 46);
}

.indicators-toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
  }
  
  .labelMenu {
    margin: 0 3px; 
    color: white;
  }
  