<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; background-color: rgb(114, 114, 114);">
      <img src="../assets/img/Logo/logonitsuga.png" alt="Logo" style="height: 50px; margin-right: 10px; margin-left: 5px;" [routerLink]="['/home']"
        (click)="showLoading()">
      <ion-title style="color:white;">Inicio</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button style="color:white;"></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div style="display:flex;">
        <img src="../assets/img/Logo/logonitsuga.png" alt="logo" style="height: 50px; margin-right: 10px;" [routerLink]="['/home']" (click)="showLoading()">
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-header>
</ion-content>

